body {
  height: 100vh;
  width: 100vw;
  background-color: black;
  margin: 0rem;
  overflow: scroll;
  color: aliceblue;
  overflow-x: hidden;
}
a {
  text-decoration: none;
  color: white;
}
.aboutBody {
  animation-name: fadeInOpacity;
  animation-iteration-count: 1;
  animation-timing-function: ease-in;
  animation-duration: 1s;
}
.expertise,
.intro {
  margin-top: 10px;
}

.main {
  height: 70%;
  width: 100%;
  animation-name: fadeInOpacity;
  animation-iteration-count: 1;
  animation-timing-function: ease-in;
  animation-duration: 1s;
  display: flex;
}
.gradient-text {
  background-image: linear-gradient(45deg, #7f4ede, #ce4ede);
  background-size: 100%;
  background-clip: inherit;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
}
.header {
  padding: 0 1vw;
  display: flex;
  justify-content: space-between;
  border-bottom: solid 0.5px grey;
}
.links {
  display: flex;
  align-items: center;
}
.links > a {
  margin: 0 1vw 0 0;
  background-color: transparent;
}

.main > .intro,
.image {
  padding: 0vw 1.5vw;
  display: flex;
  align-items: center;
  justify-content: center;
}
#img-track {
  display: flex;
  position: absolute;
  gap: 4vmin;
  left: 50%;
  top: 130%;
  transform: translate(0%, -50%);
  user-select: none;
  scroll-behavior: smooth;
  padding-bottom: 10vh;
  margin-top: 1.5rem;
}

#img-track > .image {
  width: 56vmin;
  height: 70vmin;
  object-fit: cover;
  object-position: 100% center;
  border-radius: 2px;
}

/* #img-track > .image:hover {
  cursor: pointer;
  opacity: 0;
  transition: ease-in-out 0.3s;
} */

@media (max-width: 480px) {
  h1 {
    font-size: 1rem;
  }
  h2 {
    font-size: 0.78rem;
  }
  p,
  li {
    font-size: 0.58rem;
  }

  .main {
    margin-top: 3rem;
    flex-direction: column;
    align-items: center;
    text-align: center;
    overflow-x: hidden;
  }
  #img-track {
    flex-direction: column;
    position: relative;
    left: 0%;
    margin: 20vw 0vh 0 20vw;
    width: 80%;
    height: 100%;
    object-fit: fill;
    padding-bottom: 5vh;
    transform: translate(0%, -120%);
  }
}
@keyframes fadeInOpacity {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
